---
layout: page
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Scritto da {{ post.author }} il giorno 
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%-d" }}
                        {% case m %}
                          {% when '1' %}Gennaio
                          {% when '2' %}Febbraio
                          {% when '3' %}Marzo
                          {% when '4' %}Aprile
                          {% when '5' %}Maggio
                          {% when '6' %}Giugno
                          {% when '7' %}Luglio
                          {% when '8' %}Agosto
                          {% when '9' %}Settembre
                          {% when '10' %}Ottobre
                          {% when '11' %}Novembre
                          {% when '12' %}Dicembre
                        {% endcase %}
                        {{ post.date | date: "%Y" }}
</div>
<hr>
{{ post.content | strip_html | truncatewords: 50  }}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
